body{

    margin: auto;
    background-color: rgb(231, 231, 231);
}

header{
    width:100%;
    height: 60px;
    padding-top: 10px;
    display: flex;
    background-color: #2874f0;
    justify-content: center;
}


.logo{
    padding: 0px;
    margin: 0px;
    width:100%;
    height:40px
   
    

}

.image{
    padding-top: 12px;
    margin-right: 0px;
    
    /*give float to first div*/
    
}

.searchbar{
    background-color: white;
    width: 25%;
    height: 30px;
    margin-top:12px;
    border-radius: 5px;
    border: 0px;
    margin-right:0px;
   
}
.search{
    margin:0px;
    padding: 0px;
}

.btn{
    padding-left: 50px;
    width: 10%;
    height: 10px;

}
.loginbtn{
    margin-top: 10px;
    padding: 5px;
}
.btn , .loginbtn{
    font-size: 20px;
    float: left; 
    border-radius: 2px;
    border: 0px;
    
    
    
    
}


.loginbtn{
    color: #2874f0;
    text-align: center;
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    
}
.e{
        float: left;
        padding-left: 50px;
        color: white;
       
        font-size: 15px;
        
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
   
}


p{      
    
    
    
}
/* second bar starts here*/
.bar{
    display: flex;
    flex-direction: column;   
   justify-content: space-evenly;
   align-content: center;
    
}

.bartext{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
}

.barimage{

    width: 80%;
   

}



.mainbar{
    background-color: rgb(255, 255, 255);
    height: 150px;
    box-shadow: 1px 1px 3px;
    display: flex;
    justify-content: center;
    flex-basis: 0px;
    gap: 50px;
    flex: 1px;
    

}
    
/* Main Section Two */

.mainsectiontwo{

    display: flex;
    
    justify-content: space-between;
    padding: 80px;
    background-color: #2874f0;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    

}

.bannerbtn{
    display: flex;
    justify-items: center;


}

.bannerimageone{
    width: 500px;

   
}
    
    
    
    
    
